.footer {
    background-color: var(--blueColor);
    position: relative;
    padding: 0 0 90px 0;

}
.birds12 {
    position: absolute;
    bottom: 20px;
    left: 15px;
}
.birds12 img{
    width: 95px;
    height: auto;
}
.birds13 {
    position: absolute;
    top: 25px;
    right: 0;
}
.birds13 img{
    width: 57px;
    height: auto;
}

.line-footer {
    width: 250px;
    height: 4px;
    background-color: var(--beigeColor);
    position: absolute;
    right: 0;
    top: 15px;
}

.form {
    padding: 20px 0 0 0;
    position: relative;
}
.form__input {
    display: flex;
    flex-direction: column;
    padding: 0 35px 0 35px;
}
.application {
    font-size: 20px;
    font-weight: 800;
    color: var(--beigeColor);
    margin: 0 0 30px 0;
}
.input-label {
    font-size: 13px;
    color: var(--beigeColor);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0 0 35px 0;
}

.section-form__input {
    width: 186px;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    background-color: var(--blueColor);
    border-color: var(--beigeColor);
    border-radius: 0;
    font-family: var(--beigeColor);
    font-size: 13px;
    outline: none;
    color: var(--beigeColor);
    /* -webkit-box-shadow: inset 0 0 0 50px var(--whisper);
    -webkit-text-fill-color: #000; */
}

input:focus{
    outline: none;
}

.form__button {
    border: 1px solid var(--beigeColor);
    border-radius: 12px;
    background-color: var(--blueColor);
    color: var(--beigeColor);
    height: 23px;
    width: 90px;
    font-size: 13px;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    right: 35px;
    bottom: -20px;
}

.footer-description {
    padding: 30px 35px 0 35px;
}

.footer-description > ul > li,
.footer-description > ul > li > p,
.footer-description > ul > li > a{
    font-size: 14px;
    color: var(--beigeColor);
}

.phone-footer,
.email-footer {
    margin: 0 0 0 20px;
}

.adress-link {
    display: flex;
    align-self: flex-end;
    margin: 0 0 40px 0;
}

.adress-link > p{
    margin: 0 0 0 5px;
    display: flex;
    align-items: flex-end;
}
.adress-sign {
    width: 16px;
    height: auto;
}
.social-media__footer {
    display: flex;
    width: 185px;
    justify-content: space-between;
    margin: 20px 0 0 20px;
}
.insta {}
.messenger {}
.facebook {}
.youtube {}

@media screen and (min-width: 768px) {
    .footer {
        width: 768px;
        margin: 0 auto;
        display: flex;
        padding: 0 0 190px 0;
    }

    .birds12 {
        display: none;
    }

    .birds13 {
        display: none;
    }

    .line-footer {
        display: none;
    }

    .form {
        padding: 90px 0 0 0;
        width: 50%;
    }

    .form__input {
        display: flex;
        flex-direction: column;
        padding: 0 0 0 70px;
    }

    .input-label {
        margin-left: 30px;
    }

    .form__button {
        right: 0;
    }

    .footer-description {
        padding: 140px 35px 0 50px;
        width: 50%;
    }
}

@media screen and (min-width: 1024px) {
    .footer {
        width: 1024px;
        padding: 0 0 250px 0;
    }

    .form__input {

        padding: 0 100px 0 80px;
    }
}