.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;
    height: 6.4rem;
    padding-left: 3rem;
    padding-right: 3rem;

    display: flex;
    justify-content: space-between;
}

.header:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--blueColor);
    pointer-events: none;
    z-index: 2;
}

.logo{
    padding-top: 1.4rem;
    z-index: 3;
}

.logo__image {
    height: 2.9rem;
    width: auto;
}

.header-burger {
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 27%;
}

.phone-label {
    background: url("../image/phone.png") top left / cover no-repeat var(--blueColor);
    width: 2rem;
    height: 2.3rem;
}

.burger {
    display: block;
    height: 1.6rem;
    width: 1.6rem;
    border-left: var(--beigeColor) solid 3px;
    border-top: var(--beigeColor) solid 3px;
    transform: rotate(-45deg);
}

.burger.active{
    border-right: var(--beigeColor) solid 3px;
    border-bottom: var(--beigeColor) solid 3px;
    transition: all 0.5s ease 0s;
}

.header-menu {
    position: fixed;
    top: 0;
    right: 0;
    height: 305px;
    background-color: var(--blueColor);
    z-index: 2;
    width: 50%;

    margin-top: 70px;

    display: flex;
    flex-direction: column;

    padding-top: 1.5rem;
    padding-left: 1.5rem;
    margin-right: -100%;
    transition: all 1s ease 0s;
} 

.header-menu.active {
    margin-right: 0;
}

.social-media{
    display: flex;
    justify-content: space-between;
    order: 3;

    margin-top: 3rem;
    padding-right: 3.2rem;
}

.insta {
    background: url("../image/insta_label.png") top left / cover no-repeat var(--blueColor);
    height: 1.4rem;
    width: 1.4rem;
}
.messenger {
    background: url("../image/whatsapp_label.png") top left / cover no-repeat var(--blueColor);
    height: 1.4rem;
    width: 1.4rem;
}
.facebook { 
    background: url("../image/facebook_label.png") top left / cover no-repeat var(--blueColor);
    height: 1.4rem;
    width: 1.4rem;
}
.youtube {
    background: url("../image/youtube_label.png") top left / cover no-repeat var(--blueColor);
    height: 0.9rem;
    width: 1.3rem;
} 

.header-list {
    order: 1;
    height: 60%;
}

.header-menu__list{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
}
.header-menu__item{
    color: #ffffff;
    font-size: 9px;
    font-family: var(--fontCeraPro);
}

.header-menu__link {
    color: #ffffff;
    font-size: 9px;
    font-family: var(--fontCeraPro);
}

.header-menu__link:hover{
    border-bottom: 1px solid var(--beigeColor);
}

.header-menu__link.active{
    border-bottom: 1px solid var(--beigeColor);
}

.border {
    height: 0.1rem;
    width: 9.3rem;
    background-color: #ffffff;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}
.phone{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    order: 2;
}

.phone-number{
    color: #ffffff;
    font-size: 11px;
}

@media screen and (min-width: 768px) {

    .header{
        padding-left: 4.2rem;
        padding-right: 4.2rem;
    }

    .header-burger {
        display: none;
    }
    
    .header-menu{
        flex-wrap: wrap;
        width: 46%;
        padding-top: 1.5rem;
        padding-left: 0;
        display: flex;
        justify-content: space-between;
        width: 66%;
        z-index: 2;
        margin-top: 0;
        position: relative;
        flex-direction: row;

        height: auto;
        margin-right: 0;
    } 

    
    .social-media{
        margin-top: 0;
        order: 2;
        padding-top: 1rem;
        padding-right: 0;
        width: 33%;
    }

    .header-list {
        width: 100%;
        height: auto;
    }
    
    .header-menu__list{
        width: 100%;
        height: auto;
        order: 1;
        flex-direction: row;

        padding-top: 0;
        padding-left: 0;
    }

    .phone {
        align-items: center;
        order: 3;
    }

    .border {
        margin-bottom: 0.5rem;
        margin-top: 0;
    }
}

@media screen and (min-width: 1024px) {
    
    .header-menu{
        justify-content: space-around;
        width: 75%;
        padding-top: 0;
    } 
    
    .social-media{
        padding-top: 2.7rem;
        width: 18%;
        order: 1;
    }

    .header-list {
        width: 47%;
    }
    
    .header-menu__list{
        width: 100%;
        padding-top: 28px;
        order: 2;
    }
    .header-menu__item{
        color: #ffffff;
        font-size: 9px;
        font-family: var(--fontCeraPro);
        margin-bottom: 2.2rem;
    }
    
    .border {
        height: 2.5rem;
        width: 0.2rem;
        margin-right: 1.7rem;
        margin-bottom: 0;
        margin-top: 0;
    }
    .phone{
        display: flex;
        align-items: center;
        flex-direction: row;
        order: 3;
    }
    
    .phone-number{
        color: #ffffff;
        font-size: 11px;
    }
}
