.home {
    position: relative;
    margin: 25px 0 10px 0;
}

#home {
    position: absolute;
    top: -100px;
}

.home-line__title{
    width: 75px;
    height: 4px;
    background-color: var(--beigeColor);
    position: absolute;
    top: 30px;
    right: 0;
}

.home-container {
    padding: 0 25px 0 20px;
}

.home-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 0 15px 0;
}

.title-container {
    width: 28rem;
}

.home-title {
    font-size: 2.9rem;
    margin-bottom: 1.2rem;
}

.home-title > br{
    display: none;
}

.modern-douplex__background,
.location__background,
.security__background {
    position: relative;
    width: 28rem;
    height: 16rem;
}

.modern-douplex__background {
    background: url("../image/modern-douplex__bg.png") top / cover no-repeat;
}

.location__background {
    background: url("../image/location__bg.png") top / cover no-repeat;
}

.security__background {
    background: url("../image/security_bg.png") top / cover no-repeat;
}

.frame {
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
}

.block:before,
.frame:before {
  position: absolute;
  width: 2.5rem;
  height: 2.5rem;
  content: '';
  border-color: var(--beigeColor);
  border-style: solid;
}

.block:before {
  left: 0;
  top: 0;
  border-width: 3px 0 0 3px;
}

.frame:before {
  right: 0;
  bottom: 0;
  border-width: 0 3px 3px 0;
}

.navigation-manual {
    width: 200px;
    height: 4px;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    position: relative;
}

.manual-btn {
    width: 67px;
    height: 4px;
}

.manual-btn:hover {
    background-color: var(--beigeColor);
}

.line-manual {
    width: 200px;
    height: 1px;
    background: var(--beigeColor);
    position: absolute;
    top: 1.5px;
}

.swiper-scrollbar {
    width: 200px;
    background: var(--beigeColor);
    border-radius: 0;
}

.swiper-container-horizontal > .swiper-scrollbar {
    height: 2px;
}

.swiper-scrollbar-drag {
    height: 4px;
    background: var(--beigeColor);
    border-radius: 0;
    top: -1px;
}

.home-title__sign {
    display: none;
}

.title-border {
    display: none;
}

.home-birds {
    display: none;
}

@media screen and (min-width: 768px) {
    .home {
        position: relative;
        margin: 60px 0 90px 0;
        width: 768px;
        margin-left: auto;
        margin-right: auto;
    }

    .home-line__title {
        display: none;
    }

    .home-birds {
        display: flex;
        position: absolute;
        left: 0;
        top: -40px;
    }

    .home-birds__image {
        height: 63px;
        width: 88px;
    }

    .home-container {
        padding: 0 30px 0 40px;
    }

    .home-slide {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0;
    }

    .douplex-title__container,
    .security-title__container,
    .location-title__container {
        display: flex;
        flex-direction: column;
        position: relative;
    }

    .title-container {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        margin: 0 0 15px 0;
        width: 29rem;
    }

    .home-title__sign {
        display: block;
        height: 25px;
        width: auto;
        margin-right: 10px;
        margin-bottom: 7px;
        bottom: 0;
    }

    .home-title {
        font-size: 3.9rem;
        margin-bottom: 0;
        font-weight: 800;
    }

    .home-title > br{
        display: flex;
    }
    
    .modern-douplex__background,
    .location__background,
    .security__background {
        width: 57%;
        height: 24rem;
    }

    .title-border {
        display: block;
        position: absolute;
        bottom: 0;
        width: 450px;
        height: 4.5px;
        background-color: var(--beigeColor);
        z-index: 2;
    }

    .modern-douplex__background,
    .security__background,
    .location__background {        
        
        animation-name: slideDown;
        animation-timing-function: ease;  
        animation-iteration-count: infinite;
        visibility: visible !important; 
    }

    .modern-douplex__background {
        animation-duration: 4s;                    
    }

    .security__background {
        animation-duration: 4s;                   
    }

    .location__background {
        animation-duration: 4s; 
    }

    @keyframes slideDown {
        0% {
            transform: translateY(-150%);
        }
        50% {
            transform: translateY(0%);
        }  
        100% {
            transform: translateY(150%);
        }      
    }

    .douplex-title__container,
    .security-title__container,
    .location-title__container {
        z-index: 5; 

        animation-name: slideRight;
        animation-timing-function: ease-in-out; 
        animation-iteration-count: infinite;
        visibility: visible !important;
    }

    .douplex-title__container {
        animation-duration: 4s; 
    }

    .security-title__container {
        animation-duration: 4s; 
    }

    .location-title__container {
        animation-duration: 4s; 
    }

    @keyframes slideRight {
        0% {
            transform: translateX(-150%);
            opacity: 0;
        }
        10% {
            opacity: 0;
        }
        20% {
            opacity: 0;
        }
        30% {
            opacity: 0;
        }
        40% {
            opacity: 0;
        }
        50%{
            transform: translateX(0%);
            opacity: 1;
        }     
        60%{
            transform: translateX(0%);
            opacity: 1;
        }    
        70%{
            opacity: 0.5;
        }
        80%{
            opacity: 0;
        }
        90%{
            transform: translateX(180%);
            opacity: 0;
        }
        100% {
            transform: translateX(200%);
            opacity: 0;
        }   
    }

    /* .title-container{
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: flex-start;
        margin-bottom: 15px;
    } */

    .block:before,
    .frame:before {
      width: 3.3rem;
      height: 3.3rem;
    }

    .block:before {
        border-width: 4px 0 0 4px;
    }
      
    .frame:before {
        border-width: 0 4px 4px 0;
    }

    /* .swiper-scrollbar {
        width: 200px;
    }

    .swiper-container-horizontal > .swiper-scrollbar {
        position: absolute;
        left: 85%;
        bottom: 115px;
        z-index: 50;
        height: 2px;
        width: 200px;
        transform: rotate(90deg);
    } */

}  

@media screen and (min-width: 1024px) {

    .home {
        width: 1024px;
    }

    .home-birds {
        display: none;
        margin: 60px 0 70px 0;
    }

    .home-birds__image {
        height: 63px;
        width: 88px;
    }

    .home-container {
        padding: 0 65px 0 55px;
    }

    .home-slide {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .douplex-title__container {
        display: flex;
        flex-direction: column;
        position: relative;
    }

    .title-container {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        margin: 0 0 15px 0;
        width: 45rem;
    }

    .home-title__sign {
        display: block;
        height: 25px;
        width: auto;
        margin-right: 10px;
        margin-bottom: 7px;
        bottom: 0;
    }

    .home-title {
        font-size: 6.1rem;
        margin-bottom: 0;
        font-weight: 800;
    }

    .home-title > br{
        display: flex;
    }
    
    .modern-douplex__background,
    .location__background,
    .security__background {
        width: 47%;
        height: 31rem;
    }

    .title-border {
        width: 640px;
        height: 5px;
    }

    .home-title__sign {
        height: 50px;
        width: 50px;
        margin-right: 10px;
        margin-bottom: 7px;
    }

    .block:before,
    .frame:before {
      width: 5.5rem;
      height: 5.5rem;
    }
      
    .block:before {
        border-width: 6px 0 0 6px;
        left: 0;
        top: 0;
    }
      
    .frame:before {
        border-width: 0 6px 6px 0;
        right: 0;
        bottom: 0;
    }

    /* .swiper-container-horizontal > .swiper-scrollbar {
        left: 86%;
        bottom: 150px;
    } */
}