.home {
    padding: 0 2.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 25px;
    position: relative;
}

.home-line__title{
    width: 75px;
    height: 4px;
    background-color: var(--beigeColor);
    position: absolute;
    top: 45px;
    right: 0;
    /* opacity: 0; */
}

/* .home-line__title.active {
    opacity: 1;
} */

.home-slider{
    width: 27.6rem;
    height: 25.5rem;
    /* overflow: hidden; */
}

.home-slides {
    /* display: flex;
    width: 500%;
    height: 23.2rem; */
}

.home-slides input {
    display: none;
}

/* .home-slide {
    width: 20%;
    transition: 2s;
} */

.modern-douplex {
    /* opacity: 0; */
    transition-property: all;
    transition-duration: .5s;
    transition-delay: 1s;
}

/* .modern-douplex.active{
    opacity: 1;
    transition-delay: 0s;
} */

.security {
    /* opacity: 0; */
    transition-property: all;
    transition-duration: .5s;
    transition-delay: 3s;
}
.security.active {
    opacity: 1;
    transition-delay: 0s;
}

.location {
    /* opacity: 0; */
    transition-property: all;
    transition-duration: .5s;
    transition-delay: 5s;
}

/* .location.active {
    opacity: 1;
    transition-delay: 0s;
} */

.home-title {
    font-size: 2.9rem;
    margin-bottom: 1.2rem;
}

.home-title > br{
    display: none;
}

.modern-douplex__background,
.location__background,
.security__background {
    position: relative;
}

.modern-douplex__img,
.security__img,
.location__img {
    width: 27.6rem;
    height: 15.4rem;
}

.frame {
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
}

.block:before,
.frame:before {
  position: absolute;
  width: 2.5rem;
  height: 2.5rem;
  content: '';
  border-color: var(--beigeColor);
  border-style: solid;
}

.block:before {
  left: 0;
  top: 0;
  border-width: 3px 0 0 3px;
}

.frame:before {
  right: 0;
  bottom: 0;
  border-width: 0 3px 3px 0;
}

/* navigation manual */

.navigation-manual {
    width: 200px;
    height: 4px;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    position: relative;
}

.manual-btn {
    width: 67px;
    height: 4px;
}

.manual-btn:hover {
    background-color: var(--beigeColor);
}


.line-manual {
    width: 200px;
    height: 1px;
    background: var(--beigeColor);
    position: absolute;
    top: 1.5px;
}

.swiper-scrollbar {
    margin-top: 15px;
    width: 200px;
    background: var(--beigeColor);
    border-radius: 0;
}

.swiper-container-horizontal > .swiper-scrollbar {
    height: 2px;
}

.swiper-scrollbar-drag {
    height: 4px;
    background: var(--beigeColor);
    border-radius: 0;
    top: -1px;
}

.home-title__sign {
    display: none;
}

.title-border {
    display: none;
}

.home-birds {
    display: none;
}

@media screen and (min-width: 768px) {
    .home {
        padding: 0;
        padding-top: 60px;
        padding-bottom: 100px;
        position: relative;
    }

    .home-line__title {
        display: none;
    }

    .home-birds {
        display: flex;
        position: absolute;
        left: 0;
        top: 20px;
    }

    .home-birds__image {
        height: 63px;
        width: 88px;
    }

    .swiper-container {
        margin-left: 0;
        margin-right: 0;
    }

    .home-slider{
        width: 100%;
    }

    .home-slide {
        display: flex;
        flex-direction: row;
        /* align-items: center; */
        padding-right: 3rem;
        padding-left: 3rem;
    }

    .modern-douplex__background,
    .security__background,
    .location__background {
        position: absolute;
        right: 30px;           
        
        /* animation-name: slideDown; */
        animation-timing-function: ease;  
        animation-iteration-count: infinite;
        visibility: visible !important; 
    }

    .modern-douplex__img,
    .security__img,
    .location__img {
        width: 40rem;
        height: 24rem;
    }

    .modern-douplex__background {
        animation-duration: 4s;                    
    }

    .security__background {
        animation-duration: 4s;                   
    }

    .location__background {
        animation-duration: 4s; 
    }

    @keyframes slideDown {
        0% {
            transform: translateY(-100%);
        }
        /* 50%{
            transform: translateY(8%);
        }
        65%{
            transform: translateY(-4%);
        }
        80%{
            transform: translateY(4%);
        }
        95%{
            transform: translateY(-2%);
        }            */
        100% {
            transform: translateY(0%);
        }       
    }

    .douplex-title__container,
    .security-title__container,
    .location-title__container {
        width: 450px;
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        position: absolute;
        align-items: flex-start;
        z-index: 5;

        /* animation-name: slideRight; */
        animation-timing-function: ease-in-out; 
        animation-iteration-count: infinite;
        visibility: visible !important;
    }

    .douplex-title__container {
        animation-duration: 4s; 
    }

    .security-title__container {
        animation-duration: 4s; 
    }

    .location-title__container {
        animation-duration: 4s; 
    }

    @keyframes slideRight {
        0% {
            transform: translateX(-150%);
            opacity: 0;
        }
        50%{
            opacity: 0;
        }
        65%{
            opacity: 0;
        }
        80%{
            opacity: 0;
        }
        85%{
            opacity: 0.5;
        }
        95%{
            opacity: 1;
        }        
        100% {
            transform: translateX(0%);
            opacity: 1;
        }   
    }

    .title-container{
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: flex-start;
        /* width: 290px; */
        margin-bottom: 15px;
    }

    .home-title > br{
        display: flex;
    }

    .home-title__sign {
        display: block;
        height: 25px;
        width: auto;
        margin-right: 10px;
        margin-bottom: 7px;
    }

    .home-title {
        font-size: 3.9rem;
        margin-bottom: 0;
        font-weight: 800;
    }

    .title-border {
        display: block;
        width: 450px;
        height: 4.5px;
        background-color: var(--beigeColor);
        z-index: 2;
    }

    .block:before {
        border-width: 4px 0 0 4px;
    }
      
    .frame:before {
        border-width: 0 4px 4px 0;
    }

    .swiper-scrollbar {
        width: 200px;
    }

    .swiper-container-horizontal > .swiper-scrollbar {
        position: absolute;
        left: 85%;
        bottom: 115px;
        z-index: 50;
        height: 2px;
        width: 200px;
        transform: rotate(90deg);
    }


    
}

@media screen and (min-width: 850px) {
    .swiper-container-horizontal > .swiper-scrollbar {
        left: 86%;
    }
}

@media screen and (min-width: 900px) {
    .swiper-container-horizontal > .swiper-scrollbar {
        left: 87%;
    }
}

@media screen and (min-width: 970px) {
    .swiper-container-horizontal > .swiper-scrollbar {
        left: 88%;
    }
}

@media screen and (min-width: 1024px) {

    .home {
        padding-top: 66px;
        padding-bottom: 72px;
        position: relative;
    }

    .home-slider{
        height: 32rem;
    }

    .home-birds {
        left: 75px;
        top: 20px;
    }

    .douplex-title__container,
    .security-title__container,
    .location-title__container {
        margin-left: 30px;
    }

    .modern-douplex__background,
    .security__background,
    .location__background {
        margin-right: 30px;
    }

    
    .modern-douplex__img,
    .security__img,
    .location__img {
        width: 42.8rem;
        height: 100%;
    }

    .home-title {
        font-size: 6rem;
    }

    .home-title__sign {
        height: 50px;
        width: 50px;
        margin-right: 10px;
        margin-bottom: 7px;
    }

    .title-border {
        width: 640px;
        height: 5px;
    }

    .block:before,
    .frame:before {
      width: 5.5rem;
      height: 5.5rem;
    }
      
    .block:before {
        border-width: 6px 0 0 6px;
        left: 0;
        top: 0;
    }
      
    .frame:before {
        border-width: 0 6px 6px 0;
        right: 0;
        bottom: 0;
    }

    .swiper-container-horizontal > .swiper-scrollbar {
        left: 86%;
        bottom: 150px;
    }
}

@media screen and (min-width: 1200px) {

    .home {
        padding-top: 85px;
    }

    .swiper-container-horizontal > .swiper-scrollbar {
        left: 88%;
    }

    .home-slider{
        height: 40rem;
    }

    .modern-douplex__img,
    .security__img,
    .location__img {
        width: 55rem;
    }

    .title-border {
        width: 670px;
    }

    .douplex-title__container,
    .security-title__container,
    .location-title__container {
        margin-top: 60px;
    }
}

@media screen and (min-width: 1300px) {
    .swiper-container-horizontal > .swiper-scrollbar {
        left: 89%;
    }
}

@media screen and (min-width: 1400px) {
    .home {
        padding-top: 85px;
    }

    .swiper-container-horizontal > .swiper-scrollbar {
        left: 90%;
        bottom: 180px;
    }

    .home-slider{
        height: 45rem;
    }

    .modern-douplex__img,
    .security__img,
    .location__img {
        width: 62rem;
    }

    .title-border {
        width: 690px;
    }

    .douplex-title__container,
    .security-title__container,
    .location-title__container {
        margin-top: 70px;
        margin-left: 50px;
    }
}

@media screen and (min-width: 1600px) {
    .home {
        padding-top: 85px;
    }

    .swiper-container-horizontal > .swiper-scrollbar {
        left: 90%;
        bottom: 180px;
    }

    .home-slider{
        height: 51rem;
    }

    .modern-douplex__img,
    .security__img,
    .location__img {
        width: 70rem;
    }

    .title-border {
        width: 690px;
    }

    .douplex-title__container,
    .security-title__container,
    .location-title__container {
        margin-top: 70px;
        margin-left: 50px;
    }
}