.layouts {
    padding: 25px 0 50px 0;
}
.birds7 {
    display: none;
}
.birds8 {
    display: none;
}
.layouts-title {
    font-size: 29px;
    text-align: center;
    margin: 0 0 25px 0;
}
.layouts-slider {}
.layouts-slides {
    padding: 0 0 20px 0;
}
.layouts-slide {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.layouts-slide__img {
    
    width: 245px;
    height: 164px;
}
.layouts-slide__description {
    background-color: var(--blueColor);
    width: 245px;
    position: absolute;
    bottom: 0;
}

.layouts-slide__description > p{
    color: var(--beigeColor);
    font-size: 16px;
    font-weight: 800;
    text-align: center;
    padding: 7px 0 7px 0;
}

.swiper-slide {
    opacity: 0.5;
}

.swiper-slide.swiper-slide-active {
    opacity: 1;
}

.swiper-container-horizontal>.swiper-scrollbar {
    width: 200px;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media screen and (min-width: 768px) {

    .layouts {
        padding: 60px 0 100px 0;
        position: relative;
        width: 768px;
        margin: 0 auto;
    }
    .birds7 {
        display: block;
        position: absolute;
        top: 30px;
        left: 54px;
    }

    .birds7 > img {
        width: 68px;
        height: auto;
    }
    .birds8 {
        display: block;
        position: absolute;
        bottom: 50px;
        right: 0;
    }

    .birds8 > img {
        width: 87px;
    }

    .layouts-title {
        font-size: 33px;
    }
    .layouts-slider {}
    .layouts-slides {
        padding: 0 0 20px 0;
    }
}


@media screen and (min-width: 1024px) {

    .layouts {
        padding: 100px 0 60px 0;
        position: relative;
        width: 1024px;
        margin: 0 auto;
    }
    .birds7 {
        display: block;
        position: absolute;
        top: 70px;
        left: 90px;
    }

    .birds7 > img {
        width: 68px;
        height: auto;
    }
    .birds8 {
        display: block;
        position: absolute;
        top: 130px;
        right: 200px;
    }

    .birds8 > img {
        width: 87px;
    }

    .layouts-title {
        font-size: 33px;
    }
    .layouts-slider {}
    .layouts-slides {
        padding: 0 0 20px 0;
    }
}
