.location {
    background: url("../image/map_bg.png") top / cover no-repeat;
    position: relative;
    padding: 30px 25px 0 25px;
}

#location {
    position: absolute;
    top: -60px;
}

.birds5 {
    position: absolute;
    right: 0;
    top: 115px;
}

.birds5 > img{
    width: 53px;
    height: auto;
}

.birds6 {
    display: none;
}

.line-location {
    width: 250px;
    height: 4px;
    background-color: var(--beigeColor);
    position: absolute;
    right: 0;
    top: 15px;
}

.location-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.location-title > h3{
    font-size: 29px;
    color: var(--beigeColor);
    margin: 0 0 15px 0;
}

#map {
    height: 130px;
    width: 275px;
    margin: 0 0 15px 0;
    z-index: 15;
}

.location-description p {
    font-size: 15px;
    color: var(--beigeColor);
    text-align: justify;
}

.specification-location {
    width: 100%;
    margin: 20px 0 0 0;
}

.location-specification {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: row;
    margin: 0 0 10px 0;
}

.location-specification__container > p {
    font-family: 14px;
    color: var(--beigeColor);
    margin: 5px 0 0 0;
    text-align: center;
}

.location-specification >.location-specification__container:nth-child(1) > img{
    width: 30px;
    height: auto;
}

.location-specification >.location-specification__container:nth-child(2) > img{
    width: 28px;
    height: auto;
}

.location-specification >.location-specification__container:nth-child(3) > img{
    width: 25px;
    height: auto;
}

.location-specification >.location-specification__container:nth-child(4) > img{
    width: 33px;
    height: auto;
}

.location-specification >.location-specification__container:nth-child(5) > img{
    width: 26px;
    height: auto;
}

.location-specification__container {
    
}

.location-specification__image {
    
}

@media screen and (min-width: 768px) {
    .location {
        padding: 20px 50px 5px 60px;
        position: relative;
        width: 768px;
        margin: 0 auto;
    }

    .birds5 {
        position: absolute;
        left: -15px;
        top: 320px;
    }
    
    .birds5 > img{
        width: 53px;
        height: auto;
    }
    
    .birds6 {
        display: block;
        position: absolute;
        right: 20px;
        bottom: -15px;
    }

    .birds6 > img{
        width: 130px;
        height: auto;
    }

    .line-location {
        display: none;
    }

    .location-title > h3{
        font-size: 25px;
        margin: 0 0 10px 40px;
    }

    #map {
        height: 160px;
        width: 100%;
    }

    .location-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }

    .location-description p {
        padding: 0 15px 0 0;
        text-align: start;
    }

    .specification-location {
        width: 100%;
        display: flex;
        /* justify-content: space-be; */
        margin: 5px 15px 0 0;
    }

    .location-specification__container > p {
        font-family: 15px;
        margin: 10px 0 0 0;
    }

    .specification-location > .location-specification:nth-child(1){
        margin-right: 40px;
    }

    .location-specification {
        width: 45%;
    }
}

@media screen and (min-width: 1024px) {
    .location {
        padding: 80px 70px 80px 70px;
        position: relative;
        width: 1024px;
        margin: 0 auto;
    }


    .location-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        position: relative;
    }

    .location-title {
        order: 1;
        width: 50%;
        position: absolute;
        left: 0;
    }

    .location-title > h3{
        font-size: 33px;
        margin: 0 0 10px 0;
    }

    #map {
        height: 350px;
        width: 50%;
        order: 3;
    }

    .location-description {
        order: 2;
        width: 50%;
        margin: 60px 0 0 0;
        padding: 0 40px 0 0;
    }

    .location-description > p{
        text-align: start;
    }

    .specification-location {
        width: 100%;
        display: flex;
        order: 4;
    }

    .location-specification {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        margin: 0;
    }

    .specification-location > .location-specification:nth-child(1){
        margin-right: 60px;
    }

}