@import "./fonts.css";
@import "./header.css";
@import "./home_section.css";

:root {
    --blueColor: #122133;
    --beigeColor: rgba(214, 166, 122, 0.98);
    --bgColor: #f9f8f6;
    --fontCeraPro: Cera Pro;
}

* {
    box-sizing: border-box;
  }
  
html {
    line-height: 1.15; 
    font-size: 10px;
    font-family: var(--fontCeraPro);
}
  
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: var(--bgColor);
}
  
body.lock {
    overflow: hidden;
}
  
h1,
h2,
h3,
h5,
p,
ul,
li {
    margin: 0;
    color: var(--blueColor);
}
  
ul,
li {
    list-style-type: none;
    padding: 0;
}
  
a {
    text-decoration: none;
    color: #000000;
}
  
img {
    display: block;
    width: 100%;
}
  
  /* input:active, :hover, :focus {
      outline: 0;
      outline-offset: 0;
  } */

.main {
    padding-top: 6.4rem;
}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 576px) {

}

