.project {
    position: relative;
}

#project {
    position: absolute;
    top: -70px;
}

.birds2 {
    display: none;
}

.birds3 {
    display: none;
}
.birds4 {
    display: none;
}
.project-container {
    margin: 0 30px 0 15px;
}
.project-about {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.line-project {
    width: 250px;
    height: 4px;
    background-color: var(--beigeColor);
    position: absolute;
    left: 0;
}

.logo-project {
    margin: 0 0 10px 0;
}

.logo-project img {
    width: 170px;
    height: auto;
}
.project_title-container{}
.project-title {
    margin: 20px 0 10px 0;
}
.project-title h3 {
    font-size: 29px;
}
.project-description{
    position: relative;
}

.project-description p {
    font-size: 14px;
    text-align: justify; 
}

.box {
    overflow: hidden;
    height: 95px;
    width:100%;
    transition:all 0.5s;
}

.read {
    font-size: 14px;
    color: #b1b7be;
    position: absolute;
    bottom: -20px;
    right: 0;
    cursor: pointer;
}

input[type="checkbox"] {
    display: none;
}
input[type="checkbox"]:checked + .box {
    height: auto;
}

.project-specification {
    margin: 25px 0 50px 0;
}
.title-specification {
    display: none;
}

.specification {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.specification-image__container {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin: 0 0 30px 0;
}

.specification__image {
    margin: 0 0 10px 0;
}

.specification-container >.specification:nth-child(3),
.specification-container> .specification:nth-child(4) {
    display: none;
}

.specification > .specification-image__container:nth-child(1) > img {
    width: 49px;
    height: auto;
}

.specification > .specification-image__container:nth-child(2) > img {
    width: 40px;
    height: auto;
}

.specification > .specification-image__container:nth-child(3) > img {
    width: 38px;
    height: auto;
}

.specification > .specification-image__container:nth-child(4) > img {
    width: 24px;
    height: auto;
}

.specification-image__container p {
    font-size: 16px;
}
.specification-image__container > p > br{}

@media screen and (min-width: 768px) {
    .project {
        padding: 140px 0 0 0;
        position: relative;
        width: 768px;
        margin: 0 auto;
    }
    
    .birds2 {
        display: block;
        position: absolute;
        right: 0;
        top: 40px;
    }

    .birds2 > img {
        width: 180px;
        height: auto;
    }
    
    .birds3 {
        display: block;
        position: absolute;
        left: -67px;
        top: 110px;
    }

    .birds3 > img {
        width: 100px;
        height: auto;
    }
    .birds4 {
        display: none;
    }
    .project-container {
        margin: 0 80px 0 50px;
    }
    .project-about {
        display: flex;
        flex-direction: row;
        align-items: center;
        position: relative;
    }
    
    .line-project {
        width: 250px;
        height: 4px;
        background-color: var(--beigeColor);
        position: absolute;
        left: 310px;
        bottom: -10px;
    }
    
    .logo-project {
        margin: 0 0 10px 0;
        order: 1;
    }
    
    .logo-project img {
        width: 300px;
        height: auto;
    }
    .project_title-container{}
    .project-title {
        margin: 0 0 20px 0;
        order: 2;
        position: absolute;
        left: 310px;
        top: 0;
    }
    .project-title h3 {
        font-size: 33px;
    }
    .project-description{
        /* position: relative; */
        order: 3;
        margin: 50px 0 0 10px;
    }
    
    .project-description p {
        font-size: 16px;
    }
    
    .specification {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    .specification-image__container {
        width: 25%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* margin: 0 0 30px 0; */
    }
    
    .specification__image {
        /* margin: 0 0 10px 0; */
    }

    
    .specification-image__container p {
        font-size: 16px;
    }

    .box {
        overflow: hidden;
        height: 95px;
        width:100%;
        transition:all 0.5s;
    }
    
    .read {
        font-size: 14px;
        color: #b1b7be;
        position: absolute;
        bottom: -20px;
        right: 0;
        cursor: pointer;
    }
    
    input[type="checkbox"] {
        display: none;
    }
    input[type="checkbox"]:checked + .box {
        height: auto;
    }
}

@media screen and (min-width: 1024px) {
    .project {
        padding: 140px 0 90px 0;
        position: relative;
        width: 1024px;
        margin: 0 auto;
    }
    
    .birds2 {
        display: block;
        position: absolute;
        right: 0;
        top: 40px;
    }

    .birds2 > img {
        width: 180px;
        height: auto;
    }
    
    .birds3 {
        display: block;
        position: absolute;
        left: 53px;
        top: 110px;
    }

    .birds3 > img {
        width: 100px;
        height: auto;
    }
    .birds4 {
        display: block;
        position: absolute;
        right: 0;
        top: 320px;
    }
    
    .line-project {
        width: 300px;
        height: 6px;
        position: absolute;
        left: 0;
        bottom: -15px;
    }

    .project-specification {
        margin: 70px 0 50px 0;
    }
    
    .project_title-container{}
    .project-title {
        margin: 0 0 20px 0;
        order: 2;
        position: absolute;
        left: 310px;
        top: -15px;
    }

    .project-specification {
        margin-bottom: 0;
    }

    .title-specification{
        font-size: 33px;
        display: block;
        margin: 0 0 30px 60px;
    }

    .specification-container {
        display: flex;
        flex-wrap: wrap;
    }
    
    .specification {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-end;
        padding: 0 0 0 50px;
        width: 50%;
    }
    
    .specification-image__container {
        width: 12.5%;
    }

    .specification-container >.specification:nth-child(3),
    .specification-container> .specification:nth-child(4) {
        display: flex;
    }

}


